html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }
:root { font-size: 15px; }
:focus { outline: none; }
@media only print {
	body * { display: none !important; }
	body:after { content: "Don't waste paper!"; }
}
body {
	font-family: 'Open Sans', sans-serif;
	font-size: 1rem;
	line-height: 162%;
	color: #343838;
	margin: 0;
	background: #272727;
}
main {
	background: #fff;
}
.wrap {
	width: 90%;
	max-width: 60rem;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
}
.wrap--footer {
	padding: 1rem 0;
}

.wrap--footer p {
	color: #FED766;
}
.wrap--footer a {
	color: #009FB7;
}
.elemnts--inline p {
	display: inline-block;
	margin-right: 1rem;
}
.wrap--header {
	border-bottom: 1px solid #efefef;
}
.fixed--right {
	position: absolute;
	top: 1.2rem;
	right: 0;
}

.header {
	color: #005F6B;
	font-weight: 400;
}

select {
	border: 1px solid #efefef;
	background: #fff;
	padding: .4rem;
	font-family: inherit;
	font-size: inherit;
	color: #222;
}

textarea {
	display: block;
	width: 100%;
	font-family: 'Source Code Pro', monospace;
	font-size: inherit;
	color: #222;
	background: #f5f5f5;
	border: none;
	padding: 1rem;
	resize: vertical;
}

button {
	display: inline-block;
	font-weight: 600;
	color: #fff;
	background: #272727;
	border: none;
	border-bottom: 4px solid #FED766;
	padding: 1rem 1.6rem;
	font-size: 110%;
	cursor: pointer;
	border-radius: 3px;
}
